<%= render 'shared/page_title', title: "Chef Listing" %>

<div align="center">
  <%= will_paginate %>
</div>

<table class = "table mytable-1">
  <tr>
    <th>Icon </th>
    <th>Name</th>
    <th>Recipes</th>
    <th>Email</th>
  </tr>
  <% @chefs.each do |chef| %>
    <tr>
      <td><%= link_to gravatar_for(chef, size: 20), chef_path(chef) %></td>
      <td><%= link_to chef.name.capitalize, chef_path(chef) %></td>
      <td><%= pluralize(chef.recipes.count, "recipe") if chef.recipes %></td>
      <td><%= chef.email %></td>
    </tr>
  <% end %>
</table>

<div align="center">
  <%= will_paginate %>
</div>
