<!-- Shows individual recipe details -->
<%= render 'shared/page_title', title: @recipe.name %>
<% session[:recipe_comment_id] = nil %> <!-- Reset the recipe_comment_id in the SESSION for each recipe view -->
                                        <!-- This SESSION variable is during the editing of comments from the _comments partial and -->
                                        <!-- provides a path back to the recipe containing the comment -->
<div class="well-half col-md-6 mycol-md-offset-1">
  <h4 class="center description"><strong>Ingredients: </strong></h4>
  <%= simple_format(@recipe.description) %>
  <hr />
  <!-- If there are any ingredients used by this recipe that are tagged in the recipe and thus are entered into the recipe_ingredients table, show them on the form -->
  <% if @recipe.ingredients.any? %>
  <!-- This will automatically go out to the _ingredients partial in ingredients view and render it because of the associations between recipes and ingredients in the models -->
    <p>Ingredients: <%= render @recipe.ingredients %></p>
  <% end %>
  <!-- <div class="pull-right">
    <p class="center">
      <em>Created by:</em>
    </p>
    <p class="center">
      <%= link_to gravatar_for(@recipe.chef, size: 50), chef_path(@recipe.chef) %>
    </p>
    <p class="center">
      <small><%= @recipe.chef.name.capitalize %></small>
      <div class="pull-right"><%= time_ago_in_words(@recipe.created_at) %> ago</div>
    </p>
  </div> -->
</div>

<div class="well-half col-md-6 mycol-md-offset-1">
  <h4 class="center description"><strong>Directions: </strong></h4>
  <%= simple_format(@recipe.directions) %>
</div>

<section class="col-md-12">
  <div class="col-md-2"></div>
  <div class="recipe-actions">
    <% if logged_in? %>
      <% if current_chef == @recipe.chef %>
        <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: 'btn btn-sm btn-mybtn1' %>
        <%= link_to "Delete this recipe", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "btn btn-sm btn-mybtn1" %>
        <%= link_to "View my recipes only", chef_path(current_chef), class: "btn btn-sm btn-mybtn1" %>
        <%= link_to "View all recipes", recipes_path, class: "btn btn-sm btn-mybtn1" %>
      <% else %>
          <div>
            <%= link_to "See this chef's recipes", chef_path(@recipe.chef), class: "btn btn-sm btn-mybtn1"  %>
            <%= link_to "View All Recipes", recipes_path, class: "btn btn-sm btn-mybtn1" %>
          </div>
      <% end %>
    <% else %>
      <%= link_to "View All Recipes", recipes_path, class: "btn btn-sm btn-mybtn1" %>
    <% end %>
  </div>
</section>



</br>
<!-- Add the ability to add comment on this recipe -->
<% if logged_in? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- This form uses a [nested route] which is defined in the routes file and
          the instance variable @comment is defined in the show action of the recipes controller -->
      <%= form_for([@recipe, @comment], remote: :true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :description, "Comment" %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :description, rows: 2, class: "form-control", placeholder: "Enter Comment Here" %>
          </div>
          <!-- <div class="form-group">
            <div class="col-md-offset-2 col-md-10"> -->
              <!-- This will call the create action in the Comments controller -->
              <%= f.submit "Submit Comment", class: "btn btn-primary btn-sm btn-mybtn1" %>
            <!-- </div> -->
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
<% if @recipe.comments.any? %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <h4><small>Comments:</small></h4>
          <div id = "messages"> <!-- We'll use this to set up a javascript event listener -->
            <%= render partial: 'comments/comments', object: @comments %> <!-- this @comments variable is created in the recipes controller -->
          </div>
      </div>
    </div>
<% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4><small>There are no comments on this recipe.</small></h4>
    </div>
  </div>
<% end %>
