<%= render 'shared/page_title', title: "ChefChat" %>
<div class="row chat-container">
  <div class="col-md-8 center-block">
    <div class="messages" id="messages">
      <%= render @messages %> <!-- Rails will use this to find @messages from chartrooms controller show action and then looks for
        a message folder in the views and then runs the _message partial which will show each message in the message table -->
    </div>
    <hr>

    <div class="message-container">
      <%= form_for(@message, remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <%= f.text_area :content, class: "form-control", placeholder: "Enter a message!" %>
        <%= f.submit "Send", class: 'btn btn-primary' %>
        <!-- There is a section in lecture 165 at about 7:38 about adding some javascript to send the message when the user
        presses Enter on the keyboard - I chose not to use that functionality -->
      <% end %>
    </div>
  </div>
</div>
