<%= render 'shared/page_title', title: "Ingredients Listing" %>

<div align="center">
  <%= will_paginate %>
</div>

<table class = "table mytable-50">
  <tr>
    <th>Ingredient</th>
    <th>Recipes</th>
    <% if logged_in? && current_chef.admin? %>
      <th>Action</td>
    <% end %>
  </tr>
  <% @ingredients.each do |ing| %>
    <tr>
      <td><%= link_to ing.name.capitalize, ingredient_path(ing) %></td>
      <td><%= pluralize(ing.recipes.count, "recipe") if ing.recipes %></td>
      <% if logged_in? && current_chef.admin? %> <!-- Only chefs who are admins are allowed to edit/delete ingredients -->
        <td><%= link_to "Edit ", edit_ingredient_path(ing) %></td>
        <% if ing.recipes.count == 0 %>
          <td><%= link_to "Delete ", ingredient_path(ing), method: :delete, data: { confirm: "Are you sure you want to delete this ingredient?"}, class: "myLink" %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<% if logged_in? && current_chef.admin? %>
  <div align="center">
      <%= link_to "Add a new Ingredient",  new_ingredient_path, class: "btn btn-mybtn1" %>
  </div>
<% end %>
<div align="center">
  &nbsp;
</div>
<div align="center">
  <%= will_paginate %>
</div>
