<%= render 'shared/page_title', title: "#{@ingredient.name}" %>
<% if @ingredient.recipes.count !=0 %>
  <h3 align="center">Recipes containing <%= @ingredient.name %></h3>
  <div align="center">
    <%= will_paginate @ingredient_recipes %>
    <%= link_to "Go to ingredients listing", ingredients_path, class: 'btn btn-sm btn-mybtn1' %>
    <%= link_to "Go to recipes listing", recipes_path, class: 'btn btn-sm btn-mybtn1' %>
  </div>
  <br>
  <!--Now that we are using the data instance and not the entire table, we use it as the reference for the rendered object passed to the partial  -->
  <%= render 'recipes/recipe', obj:@ingredient_recipes %>
  <div align="center">
    <%= will_paginate @ingredient_recipes %>
  </div>
  <div>&nbsp;</div>
<% else %>
  <div align="center">
    <h3>No Recipes using this ingredient</h3>
  </div>
  <br>
<% end %>
<div align="center">
  <%= link_to "Go to ingredients listing", ingredients_path, class: 'btn btn-sm btn-mybtn1' %>
  <%= link_to "Go to recipes listing", recipes_path, class: 'btn btn-sm btn-mybtn1' %>
</div>
<div> <br> </div>
